.cartoon-girl {
  --skin: rgb(245, 185, 144);
  --nose: rgb(226, 140, 83);
  --mouth: rgb(226, 112, 83);
  --skin-line: #574828; 
  --line: #2a332d;
  --eye: #fff;
  --hair:#72501d;
  --hair-line: #72501d;
  --shirt: rgb(230, 153, 217);
  --shirt-line: #444;
  --desk: rgb(152, 161, 173);
  --desk-line: #444;
  --laptop: #ccc;
  --laptop-line: #444;
  --border-cartoon:  rgb(240 171 252); 
}

.cartoon-girl {
    position: relative;
    width: 50vmin;
    height: 50vmin;
    max-width: 560px;
    max-height: 560px;
    overflow: hidden;
    border-radius: 20%;
    border: 1vmin solid var(--border-cartoon);
    
}
  
.cartoon-girl div {
    position: absolute;
    box-sizing: border-box;
  }
  
.head{
    z-index: 5;
    width: 22%;
    height: 25%;
    border: 1px solid var(--skin-line);
    background-color: var(--skin);
    top: 20%;   
    left: 40%;
    border-radius: 50%;
}

.glass{
    top:25%;
    width: 35%;
    height: 35%;
    border: 2px solid var(--line);
    border-radius: 50%;
}

.l{
    left: 5%;
}

.l::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 10%;
    background-color: var(--line); /* Mismo color que el borde de las gafas */
    left:100%;
    top:50%;
}

.r{
    left: 45%;
}

   
.r::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 10%; 
    background-color: var(--line); /* Mismo color que el borde de las gafas */
    top: 20%;
    left: 100%; 
    transform: rotate(-30deg); /* Un poco de inclinación */
}

.eye{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: var(--line);
    top: 60%;
    left: 15%;
}

/* cejas */

/*  .glass::after{
    content: "";
    width: 80%;
    height: 5%;
    border-radius: 0 10%;
    background: var(--line);
    top:10%;
    left:10%;
    display: block;
    position: absolute;
    box-sizing: border-box;
} */



.nose{
    width: 12%;
    height: 8%;
    border: 0.1px solid var(--line);
    border-width: 1px 0px 0px 1px;
    border-radius: 70% 0;
    top:52%;
    left:35%;
    transform: rotate(-50deg);
}

.mouth{
    width: 20%;
    height: 5%;
    border: 1px solid var(--skin-line);
    border-width: 0px 1px 1px 0;
    border-radius: 0 0 50% 50%;
    top: 70%;
    left: 35%;
}

.ear{
    width: 12%;
    height: 8%;
    border: 0.1px solid var(--line);
    border-width: 1px 0px 0px 1px;
    border-radius: 70% 0;
    top:50%;
    left:85%;
    transform: rotate(120deg);
}

/* Flequillo izquierdo */
.bang-left {
    width: 50%;
    height: 30%;
    background-color: var(--hair);
    border-radius: 100% 0 50% 0;
    left: 2%;
    top: -2%;
}

/* Flequillo derecho */
.bang-right {
    width: 60%;
    height: 35%;
    background-color: var(--hair);
    border-radius: 10% 100% 0 100%;
    left: 47%;
    top: 0;
    transform: rotate(5deg);
}

/* Mechón de pelo saliendo del flequillo izquierdo */
.bang-right::after {
    content: '';
    position: absolute;
    width: 15%; /* Ajusta según sea necesario */
    height: 100%; /* Ajusta según sea necesario */
    background-color: var(--hair);
    border-radius: 0 50% 60% 100%;
    left: 85%; 
    top: 90%;
}


.hear-back{
    width: 25%;
    height: 20%;
    top:30%;
    left: 40%;  
    background-color: var(--hair);
    border: 1px solid var(--hair-line);
    border-radius: 10%;
    transform-origin: bottom center;
    transform: perspective(100px) rotateX(20deg);
}


.neck{
    width: 8%;
    height: 15%;
    left: 50%;
    top: 40%;
    background-color: var(--skin);
    border: 1px solid var(--skin-line);
    border-radius: 20%;
}

.body{
    z-index: 1;
    width: 30%;
    height: 27%;
    left: 38%;
    top: 50%;
    background-color: var(--shirt);
    border: 1px solid var(--shirt-line);
    border-radius: 30% 30% 15% 10%;
}

.body::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 56%;
    border: 1px solid var(--line);
    border-width: 0 1px 1px 0;
    border-radius: 0 0 30% 0;
    top: 33%;
    left: 60%;
}

.desk{
    width: 90%;
    height: 30%;
    background: var(--desk);
    border-color: var(--desk-line);
    bottom: -6%;
    left: 5%;
    border-radius: 1vmin
}

.computer{
    z-index: 3;
    width: 40%;
    height: 80%;
    background: var(--laptop);
    border: 0.5vmin solid var(--laptop-line);
    border-radius: 5% 5% 0 0;
    top: calc(-70% - 0.5vmin);
    left: 15%;
}

.hand {
    z-index: 4;
    width: 10%;
    height: 13%;
    border-color: var(--skin-line);
    background: var(--skin);
    top: -10%;
    left: 55%;
    border: 0.5px solid var(--skin-line);
    border-radius: 60% 15% 0 0;
}