@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUSE';
  src: url('./fonts/SUSE-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'quicksand';
  src: url(./fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
}


:root {
  font-family: suse;
  font-weight: 200;
  font-size: larger;
  color-scheme: light dark;
  color: rgba(37, 36, 36, 0.87);
  background-color: rgb(243 232 255); /*purple-200*/
}

.suse{
  font-family: 'SUSE';
}

.quicksand{
  font-family: "quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator, 
input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

/* Autofill styles for Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(254 215 170) inset !important; /* Change white to your desired color */
  -webkit-text-fill-color: black !important; /* Set text color */
}

/* Autofill styles for Firefox */
input:-moz-autofill {
  background-color: transparent !important; /* Set background to transparent */
  color: black !important; /* Set text color */
}