@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUSE';
  src: url('./fonts/SUSE-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'codepro';
  src: url('./fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: codepro;
  font-weight: 500;
  font-size: larger;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.suse{
  font-family: 'SUSE';
  font-weight:700;
}